.todo {
  padding: 2rem 2.4rem;
  display: flex;
  align-items: center;
  transition: all 0.3s;
}

.todo-btn {
  height: 2.4rem;
  width: 2.4rem;
  margin-right: 2.4rem;
  border: 1px solid var(--text-color-100);
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  transition: all 0.3s;
  background-color: var(--bg-light-color);
}

.todo-btn--completed {
  background-image: var(--bg-check-icon);
  background-position: center;
  background-repeat: no-repeat;
}

.todo-text {
  color: var(--text-color-300);
  transition: all 0.3s;
}

.todo-text--completed {
  text-decoration: line-through;
  color: var(--text-color-100);
}

.todo-delete-btn {
  border: none;
  border-radius: 0.5rem;
  background: transparent;
  margin-left: auto;
  cursor: pointer;
  transition: all 0.3s;
}

.todo-delete-btn img {
  display: block;
}
