.main {
  background-image: url('../assets/images/bg-desktop-light.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: white; 
  min-height: 100vh;
}
