.input-wrapper {
  padding: 2rem 2.4rem;
  margin-bottom: 2.4rem;
  display: flex;
  gap: 2.4rem;
  align-items: center;
  background-color: var(--bg-light-color);
  border-radius: 0.5rem;
  transition: all 0.3s;
}

.todo-checkbox {
  appearance: none;
  height: 2.4rem;
  width: 2.4rem;
  border: 1px solid rgb(174, 198, 255);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
}

.todo-checkbox:checked {
  background-image: var(--bg-check-icon);
  background-position: center;
  background-repeat: no-repeat;
}

.todo-input {
  width: 90%;
  border: none;
  outline: none;
  background: transparent;
  color: var(--text-color-100);
  font-family: inherit;
  font-size: inherit;
  line-height: 1.9rem;
  letter-spacing: -0.25px;
  transition: all 0.3s;
}

.todo-input::placeholder {
  color: var(--text-color-600);
}
